.main-not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  h1 {
    font-size: 99px;
    color: rgba(255, 96, 96, 1);
  }
  p {
    .error-message-line {
      display: block;
      color: rgba(255, 96, 96, 1);
      font-size: 18px;

    }
  }
  a {
    text-decoration: underline;
  }
}
