// KASA/react/src/styles/pages/_accommodation.scss

@use "../utils/variables"as *;

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
  &__title {
    font-size: 99px;
    color: $primary-color;
  }
  
  &__message {
    .error-message-line {
      display: block;
      color: $primary-color;
      font-size: 18px;

    }
  }

  &__link {
    text-decoration: underline;
  }
}
