// KASA/react/src/styles/utils/_variables.scss

$black-color: #000000;
$white-color: #FFFFFF;

$primary-color: rgba(255, 96, 96, 1);

$gradient-overlay: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 60%,
  rgba(0, 0, 0, 0.6) 100%
);
