// KASA/react/src/styles/components/_dropdown.scss

@use "../utils/variables" as *;

.dropdown {
  &__container {
    width: 100%;
    background: $primary-color;
    color: $white-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  &__title {
      font-size: 13px;
      font-weight: 700;
    }
  
  &__content {
    margin-top: -5px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    background-color: $background-grey-color;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
  }
}